 .wf-header-img {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('../img/lady-with-bino.jpeg');
    background-position: center center;
        background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#support {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    background-image: url('../img/support.jpg');
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}

#support * {
  color: #fff!important;
}

#jobOpportunities{
    position: relative;
    width: 100%;
    height: auto;
    background-image: url('../img/handshake.jpeg');
    background-position: top center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#jobOpportunities .img-overlay-inner, #flipAlumni, #faculty, #support .container {
  padding: 150px 0;
}

#feature {
  background: #f2f2f2;
  padding-bottom: 40px;
}

.features{
  padding: 0;
}

.feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
}

.feature-wrap h3{
  margin-top: 10px;
}

.feature-wrap .pull-left {
  margin-right: 25px;
}

.feature-wrap i:hover {
  background: #006699;
  color: #fff;
  box-shadow: inset 0 0 0 5px #c52d2f;
  -webkit-box-shadow: inset 0 0 0 5px #00cccc;
  border: 3px solid #00cccc;
}


.feature-wrap > a i{
  font-size: 48px;
  height: 110px;
  width: 110px;
  margin: 3px;
  border-radius: 100%;
  line-height: 110px;
  text-align:center;
  background: #00cccc;
  color: #fff;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  margin-right: 25px;
}

.padding-right-none {
    padding-right: none;

}


/*carousel override*/
.carousel-caption {
    bottom: 10%;
    border-radius: 2px;
    padding:30px;
}

.carousel-caption p {
  font-size:32px;
   text-shadow:none!important;
}

#whyFlipHome h1 {
  margin-top: 50px;
}




